.App {
  text-align: center;
}
body {
  background-color: #f2f2f2;
}
.BioFooter {
  width: 100%;
  color: white;
  text-align: center;
}


.GridItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 500ms ease-in-out;
  height: 40%;
  width: 80%;
  min-width: 250px;
  min-height: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.GridItemHeader {
  background: white;
  z-index: 1000;
  height: 20%;
  width: 100%;
  line-height: 10px;
  text-align: center;
  color: black;
  display:inline-block;
}

.GridItemPhoto {
  width: 100%;
  display:inline-block;
  height: 80%;
  overflow: hidden;
  margin: 0;
}

.GridItemInfo {
  width: 100%;
  display:inline-block;
  height: 81%;
  color: #333;
  background-color: white; 
  overflow: hidden;
}

img {
  height: 100%;
  width: 100%;
}

.Header {
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.75);
  color: white;
  font-size: 68px;
  width: 100%;
  text-align: 'center';
}

.Sidebar {
  margin: 0 auto;
  background: #272727;
  color: white;
  width: 60% !important;
  height: 100% !important;
}

.Photo {
  background-color: grey;
  width: 75%;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;

}

.Grid {
  color: white;
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .BioFooter {
    left: 0;
    position:absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .GridItemInfo {
    width: 100%;
    display:inline-block;
    height: 81%;
    color: #333;
    background-color: white; 
    overflow: hidden;
  }



  .GridItem {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    position: absolute;
    transition: transform 500ms ease-in-out;
  }


  .GridItemHeader {
    background: white;
    z-index: 1000;
    height: 20%;
    width: 100%;
    position:absolute;
    line-height: 10px;
    text-align: center;
    color: black;
    top: 80%;
  }

  .GridItemPhoto {
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .Header {
    text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 25%;
    color: white;
    font-size: 68px;
    width: 64%;
    height
    text-align: 'center';
  }

  .Sidebar {
    background: #272727;
    color: white;
    position: absolute;
    min-width:180px;
    width: 20% !important;
    height: 100% !important;
    left: 10px;
    top: 0;
  }

  .Photo {
    background-color: grey;
    width: 75%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;

  }

  .Grid {
    min-height: 500px;
    min-width: 500px;
    color: white;
    position: absolute;
    width: 70% !important;
    height: 85% !important;
    left: 25%;
    top: 15%;
  }
}
