.App {
  text-align: center;
}

.BioFooter {
    left: 0;
    position:absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.GridItem {
    height: 200px;
    width: 200px;
    background-color: orange;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
}

.Sidebar {
    background-color: blue;
    color: white;
    position: absolute;
    width: 20% !important;
    height: 90% !important;
    left: 10px;
    top: 5%;
    border-radius: 10px;
}

.Photo {
    background-color: grey;
    width: 75%;
    height: 200px;
    margin: 0 auto;

}

.Grid {
    padding: 0;
    background-color: Green;
    color: white;
    position: absolute;
    width: 70% !important;
    height: 90% !important;
    left: 25%;
    top: 5%;
    border-radius: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
